
.btn-toggle-nav {
    width: 60px;
    height: 100%;
    background-color: #F98F39;
    background-image: url("menu_image.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

.btn-toggle-nav:hover{
    opacity: 0.5
}

.nav-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: calc(100vh - 60px);
    padding: 0 5x;
    background-color: #1b1b1b;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul{
    padding: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li{
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover{
    background-color: #222;
}